In [ ]:
import pandas as pd

In [ ]:
# creo una tupla

data = (110,202,303,404,550,650)

In [ ]:
type(data)

tuple

In [ ]:
# creo una lista de numeros

lista_numeros = [1, 14, 3, 66, 10]


print(lista_numeros)

[1, 14, 3, 66, 10]

In [ ]:
type(lista_numeros)

list

In [ ]:
#imprimo el datafame vacio
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
# creando un Datafame vacio y guardandolo en una variable df

df = pd.DataFrame()

In [ ]:
print(data)

(110, 202, 303, 404, 550, 650)

In [ ]:
df = pd.DataFrame(data, columns = ['Cantidades'])

In [ ]:
print(df)

   Cantidades
0         110
1         202
2         303
3         404
4         550
5         650